#notfound {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.notfound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

img {
  width: 700px;
}

p {
  font-weight: 900;
  font-size: 40px;
  color: #0C586C;
  text-align: start;
}

button {
  background-color: #43BD8D;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  color: white;
  padding: 10px;
  border: none;
}
