<div id="notfound">

  <div class="notfound-container">
    <img src="/assets/404.png" alt="">
    <p>Something's Missing</p>
    <button name="back" routerLink="/scan">Go Back</button>
  </div>

</div>
