.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .step-circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #79CA9A;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      color: white;
      font-weight: 900;
    }
  }

  .step-title {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  .step-desc {
    width: 180px;
    text-align: center;
  }
}

@media(max-width:1024px) {
  .step {
    .step-circle {
      width: 70px;
      height: 70px;
      border-radius: 50px;
    }
  }

}
