<div class="step">
  <div class="step-circle">
    <i-feather [name]="icon" class="icon"></i-feather>
  </div>
  <div class="step-title">
    <h1>{{title}}</h1>
  </div>
  <div class="step-desc">{{description}}</div>
</div>
