<div id="navbar">
  <div class="nav-body">
    <div class="logo">
      <img src="/assets/zovu-logo.png" width="150" height="50">
    </div>
    <div class="nav-item">
      <div class="item">
        <a routerLink="DashBoard">DashBoard</a>
      </div>
      <div class="item">
        <a routerLink="scan">Scan</a>
      </div>
      <div class="item">
        <a routerLink="contact">Contact us</a>

      </div>
      <div class="item">
        <a routerLink="help">Help</a>
      </div>
      <div class="item">
        John Doe
      </div>
    </div>
  </div>
</div>
