a {
  color: #0C586C;
  text-decoration: none;
}

#navbar {
  background-color: #7AC99A;
  display: flex;
  justify-content: center;

  .nav-body {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80px;
    color: #0C586C;

    .nav-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;

      .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
