input {
  border: none;
  height: 30px;
  width: 90%;
}

input::placeholder {
  color: #aacac3;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 2px;
}

input:focus {
  outline: none;
}

fieldset {
  border-radius: 10px;
  border-color: #94bb9c;
  border-width: 2px;
  height: 50%;
  width: 85%;
  color: #94bb9c;
}

button {
  width: 90px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: #02323A;
  padding: 10px;
  margin: 10px;
}

#idpage {
  display: flex;
  height: 92vh;
  background-color: #F0F5F6;
  align-items: center;
  justify-content: center;

  .body {
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 650px;
    align-items: center;
    justify-content: space-evenly;

    .id-input {
      background-color: white;
      height: 100px;
      width: 80%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;

    }

    .word {
      color: #5d9473;
    }

    .scan-space {
      background-color: #F0F5F6;
      height: 400px;
      width: 100%;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      .scan-body {
        border-radius: 20px;
        border: 10px;
        // border-color: #94bb9c;
        border-color: white;
        border-style: solid;
        height: 330px;
        width: 80%;


        .b {
          width: 100%;
          height: 5px;
          background-color: #5d9473;
          position: relative;
          animation: slide 5s infinite;
        }


      }
    }
  }
}


@keyframes slide {
  from {
    top: 0px;
  }

  to {
    top: 330px;
  }
}
