<div id="idpage">
  <div class="body">
    <div class="id-input">
      <fieldset>
        <legend>Zovu ID</legend>
        <input type="text" name="zovu-id" id="zovu-id" placeholder="Enter the Zovu ID">
      </fieldset>
      <button name="id-button">Submit</button>
    </div>
    <div class="word">
      <p>OR</p>
    </div>
    <div class="scan-space">
      <div class="scan-body">
        <div class="a"></div>
        <div class="b"></div>
        <div class="c"></div>
        <div class="d"></div>
        <zxing-scanner [autostart]="autostart" [enable]="autostart" [torch]="true" #scanner
          (scanSuccess)="scan($event)">
        </zxing-scanner>
      </div>
    </div>
  </div>
</div>
