<div id="contact-container">
  <div class="contact-body">
    <div class="contact-img">
      <picture>
        <picture>
          <!-- <source media="(min-width: 600px)" srcset="large_image.jpg"> -->
          <img src="/assets/contact-us-cover.png" style="height:350px;width:300px;">
        </picture>
      </picture>
    </div>
    <div class="contact-title">Contact below</div>
    <div class="contact-desc">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise
      en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
      quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de
      texte.</div>
    <div class="contact-adress">
      <div class="widget">
        <div class="icon">
          <i-feather name="phone-call" class="icon"></i-feather>
        </div>
        <div class="content">
          <p style="font-weight: 900;">Mobile</p>
          <p>9292939389</p>
        </div>
      </div>
      <div class="separator"></div>
      <div class="widget">
        <div class="icon">
          <i-feather name="mail" class="icon"></i-feather>
        </div>
        <div class="content">
          <p style="font-weight: 900;">Email</p>
          <p>help@zovu.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
