.icon {
  width: 3em;
  height: 3em;
  padding-right: 20px;
  color: #79CA9A;
}

#contact-container {
  display: flex;
  // width: 100vw;
  height: 92vh;
  background-color: #F0F5F6;
  align-items: center;
  justify-content: center;

  .contact-body {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 600px;
    align-items: center;
    justify-content: center;

    .contact-title {
      font-size: 2.5rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      padding: 20px;
    }

    .contact-desc {
      width: 42vw;
      padding: 20px;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .contact-adress {
      width: 25vw;
      height: 25vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding: 20px;

      .widget {
        display: flex;
        justify-content: space-between;
        align-items: center;

      }

      .separator {
        content: '';
        display: block;
        height: 110px;
        width: 3px;
        background-color: #E6E6E6;

      }
    }
  }
}

@media(max-width:1024px) {
  .icon {
    width: 2em;
    height: 2em;
  }

  #contact-container {
    .contact-body {
      .contact-adress {
        width: 40vw;
      }
    }
  }

}
