<div id="help-container">
  <div class="help-body">
    <div class="help-title">Help</div>
    <div class="help-description">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise
      en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
      quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de
      texte. </div>
    <div class="help-step">
      <div class="step1">
        <zv-step-widget [icon]="'log-in'" [title]="'Step 1'" [description]="'Login and enter zovi Id or scan QR'">
        </zv-step-widget>
      </div>
      <div class="space1"></div>
      <div class="step2">
        <zv-step-widget [icon]="'check-circle'" [title]="'Step 2'" [description]="'Confirm the identity of patient'">
        </zv-step-widget>
      </div>
      <div class="space2"></div>
      <div class="step3">
        <zv-step-widget [icon]="'file-text'" [title]="'Step 3'" [description]="'Enter the test result and comments'">
        </zv-step-widget>
      </div>
    </div>


  </div>
</div>
