#help-container {
  display: flex;
  // width: 100vw;
  height: 92vh;
  background-color: #F0F5F6;
  align-items: center;
  justify-content: center;

  .help-body {
    display: flex;
    flex-direction: column;
    background: #FFFF;
    width: 80vw;
    height: 600px;
    align-items: center;
    justify-content: center;

    .help-title {
      font-size: 3rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 900;
      padding: 20px;

    }

    .help-description {
      width: 35vw;
      padding: 30px;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }

    .help-step {
      width: 80%;
      height: 25vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

      .space1 {
        content: '';
        display: block;
        height: 130px;
        width: 3px;
        background-color: #F0F5F6;

      }

      .space2 {
        content: '';
        display: block;
        height: 130px;
        width: 3px;
        background-color: #F0F5F6
      }
    }


  }
}

@media(max-width:1024px) {
  #help-container {
    .help-body {
      height: 500px;

      .help-title {}

      .help-description {
        width: 55vw;
      }

      .help-step {
        width: 95%;
        height: 20vh;
      }
    }
  }
}
